.home_main_container_slider {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: hidden;
}

.slider-wrapper .slide {
  height: 400px;
}

.slider-wrapper .slide img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel.carousel-slider .control-arrow {
  background-color: gray;
  height: 20%;
  top: 40%;
}

.carousel .control-prev.control-arrow {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.carousel .control-next.control-arrow {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media (max-width: 768px) {
  .carousel.carousel-slider .control-arrow {
    background-color: gray;
    height: 30%;
    top: 40%;
  }
  .slider-wrapper .slide {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .carousel.carousel-slider .control-arrow {
    background-color: gray;
    height: 40%;
    top: 30%;
  }
  .slider-wrapper .slide {
    height: 200px;
  }
}
