@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;700;800&family=Roboto:wght@300;400&display=swap");

:root {
  --browny: #fca311;
  --greeny: #2ed573;
}

* {
  font-family: "Fira Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0px 0px 0px 90px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  margin-left: -90px;
}

.logo > h1 {
  font-size: 35px;
  position: relative;
  color: #2ed573;
}

.logo > h1::before {
  content: "ShopWatch..";
  width: 100%;
  color: blue;
  position: absolute;
  top: -2px;
  left: 0;
  border-right: 0.2rem solid blue;
  overflow: hidden;
  animation: slideAn 2s linear infinite;
  -webkit-animation: slideAn 2s linear infinite;
}

@keyframes slideAn {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.search {
  width: 30%;
  height: 40px;
}

.inputSearch > input {
  border-radius: 2rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  height: 40px;
  width: 100%;
  padding: 0px 10px 0px 20px;
}

.inputSearch input:focus {
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-color: var(--browny);
}

/* ----------------------------------------------------         search response styling  */
.searchResponse {
  position: absolute;
  width: 378px;
  top: 80px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 400px;
  border-radius: 5px;
}

.searchResponse > div:first-child {
  height: 90%;
  border-radius: 5px 5px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.scroll_feature::-webkit-scrollbar {
  width: 5px;
}
.scroll_feature::-webkit-scrollbar-track {
  background-color: lightgrey;
}

.scroll_feature::-webkit-scrollbar-thumb {
  background-color: var(--browny);
  border-radius: 4px;
}

.scroll_feature::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;
}
.searched_product {
  display: flex;
  border-bottom: 2px solid transparent;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.searched_product:hover {
  border-bottom: 2px solid black;
  box-shadow: var(--browny) 0px 5px 15px;
}

.searched_product div:first-child {
  font-weight: 600;
  font-size: 14px;
}
.searched_product div:last-child {
  width: 20%;
}

.searched_product div:last-child > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.seeAll {
  background-color: var(--browny);
  height: 10%;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.seeAll:hover {
  background-color: var(--greeny);
}

/* ------------------------------------------------------------------------------------------------------ */

._rightSide {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 3rem;
  /* border: 1px solid black; */
}

._rightSide button {
  background-color: #fca311;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 30px;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* border: 1px solid black; */
}

._rightSide button:hover {
  background-color: #fdaa48;
}

._navbar_avator_ {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}
.more {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 0.5rem 0;
  background-color: #fca311;
  width: 200px;
  margin-top: 1px;
  border-radius: 3px;
  z-index: 100;
}

.more:hover .dropdown,
.dropdown:hover {
  display: block;
}

.dropdown a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
  font-family: sans-serif;
  border-bottom: 1px solid white;
}

.dropdown a:hover {
  background-color: rgb(23 23 23);
  color: white;
}

.cartIcon {
  padding: 10px;
  position: relative;
}

.cartIcon span {
  position: absolute;
  font-size: 14px;
  top: -6px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: #fca311;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}

/* tablet css */
._tablet_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 9999;
}

._tablet_logo > h1 {
  font-size: 35px;
  position: relative;
  color: #2ed573;
}

._tablet_logo > h1::before {
  content: "ShopWatch..";
  width: 100%;
  color: blue;
  position: absolute;
  top: -2px;
  left: 0;
  border-right: 0.2rem solid blue;
  overflow: hidden;
  animation: slideAn 2s linear infinite;
  -webkit-animation: slideAn 2s linear infinite;
}

@keyframes slideAn {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

._tablet_search {
  flex: 0.7;
  margin: 0 20px;
}

.inputSearch input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hamburgerIcon {
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

._tablet_rightSidebar {
  position: absolute;
  top: 70px;
  right: 1px;
  width: 230px;
  /* height: calc(100% - 60px); */
  background-color: rgb(249 115 22);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1;
  transition: all 0.5s ease-out;
  border-radius: 3px 0px 0px 10px;
}

.showRightSide ._tablet_rightSidebar {
  right: 0;
}

._tablet_rightSidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

._tablet_rightSidebar li {
  margin: 16px 0;
  margin-bottom: 30px;
}

._tablet_rightSidebar a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

._tablet_rightSidebar a span {
  background-color: #e91e63;
  color: #fff;
  font-size: 14px;
  padding: 4px;
  border-radius: 50%;
  margin-left: 8px;
}

.showRightSide ._tablet_rightSidebar {
  right: 0;
}
